<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th class="text-center">Total Vacation Leave</th>
            <th class="text-center">Total Sick Leave</th>
            <th class="text-center">Total Annual Leave</th>
            <th class="text-center">Used Vacation Leave</th>
            <th class="text-center">Used Sick Leave</th>
            <th class="text-center">Pending Vacation Leave</th>
            <th class="text-center">Pending Sick Leave</th>
            <th class="text-center">Balance Annual Leave</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">{{_leaveBalance.totalVacationLeave}}</td>
            <td class="text-center">{{_leaveBalance.totalSickLeave}}</td>
            <td class="text-center">{{_leaveBalance.totalAnnualLeave}}</td>
            <td class="text-center">{{_leaveBalance.usedVacationLeave}}</td>
            <td class="text-center">{{_leaveBalance.usedSickLeave}}</td>
            <td class="text-center">{{_leaveBalance.remainingVacationLeave}}</td>
            <td class="text-center">{{_leaveBalance.remainingSickLeave}}</td>
            <td class="text-center">{{_leaveBalance.balanceAnnualLeave}}</td>
        </tr>
    </tbody>