<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th class="text-center">Total Vacation Leave</th>
            <th class="text-center">Total Sick Leave</th>
            <th class="text-center">Total Annual Leave</th>
            <th class="text-center">Used Vacation Leave</th>
            <th class="text-center">Used Sick Leave</th>
            <th class="text-center">Pending Vacation Leave</th>
            <th class="text-center">Pending Sick Leave</th>
            <th class="text-center">Balance Annual Leave</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of leaveBalance">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
        </tr>
    </tbody>