
.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: rgb(13 20 253 / 36%);
    text-align: center;
    color: white;
}
.bg-primary{
    background-color: rgb(13 20 253 / 36%) !important;
}

.nav ul li:first-child { float: left; }

.nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
