<div class="container mt-3">
    <h2 class="text-center">Manager Comment</h2>
    <br>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="row g-3">
            <!-- From Date -->
            <div class="col-md-4">
                <label for="fromDate">From Date:</label>
                <input type="date" [disabled]="true" class="form-control" id="fromDate" name="fromDate" [(ngModel)]="formData.fromDate"/>                
            </div>
            <div class="col-md-4">
                <!-- To Date -->
                <label for="toDate">To Date:</label>
                <input type="date" [disabled]="true" class="form-control" id="toDate" name="toDate" [(ngModel)]="formData.toDate"/>                
            </div>
        </div>
        <br>
        <!-- Comment -->
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" class="form-control" name="comment" [(ngModel)]="formData.comment" rows="3" required
                maxlength="500" placeholder="Enter a brief comment"></textarea>                       
        </div>
        <br>
        <!-- Dropdown -->
        <div class="col-md-4">
            <label for="dropdown">Select Leave Type:</label>                      
        </div>
        <br>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>